<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessfactory">

    <application
        android:name="com.example.fitnessfactory.FFApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessFactory">
        <activity android:name=".ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AuthActivity">
        </activity>
        <activity android:name=".ui.activities.MainActivity">
        </activity>
        <activity android:name=".ui.activities.editors.gym.GymEditorActivity">
        </activity>
        <activity android:name=".ui.activities.editors.admin.AdminEditorActivity">
        </activity>
        <activity android:name=".ui.activities.SelectionActivity">
        </activity>
        <activity android:name=".ui.activities.editors.coach.CoachEditorActivity">
        </activity>
        <activity android:name=".ui.activities.editors.OrganisationInfoEditorActivity">
        </activity>
        <activity android:name=".ui.activities.editors.ClientEditorActivity">
        </activity>
        <activity android:name=".ui.activities.editors.SessionTypeEditorActivity">
        </activity>
        <activity android:name=".ui.activities.editors.session.SessionEditorActivity">
        </activity>
    </application>

</manifest>